on:
  push:
    branches:
      - "main"

permissions:
  contents: write
  pages: write
  id-token: write

    
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout your repository using git
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "latest"
      - name: Check action's npm version
        run: npm -v
      - name: Update npm version
        run: npm i -g npm@latest
      - name: Check updated npm version
        run: npm -v
      - name: Install dependencies
        run: npm clean-install
      - name: Verify the integrity of provenance attestations and registry signatures for installed dependencies
        run: npm audit signatures
      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npx semantic-release
